{{#if cond1}} <div class="foo bar" data-attr="attribute-1"> {{#if cond2}} <button class="btn btn-xs btn-primary text-uppercase" {{action action1}}>Button Text</button> {{/if}} {{#if cond3}} <button class="btn btn-xs btn-link text-uppercase {{someClass}}" {{action action2}}> Button Text </button> {{/if}}</div> {{/if}}
